*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:wh;
}
.content{
    width: 1000px;
    height: 550px;
    margin: 20px auto;
    
}

.calc{
    width: 320px;
    height: 550px;

    margin:  0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.result{
    height: 120px;
}
.input{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: skyblue;
}
.output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
.keyboard{
    height: 400px;
}

.operator, .number{
width: 50px;
height: 50px;
margin: 15px;
float: left;
border-radius: 50%;
font-weight: bold;
font-size: 15px;
color: slateblue;
}

.number{
    background-color: whitesmoke;
    color: purple;
    font-family: monospace;
    font-size:25px;
}
.number , .operator{
    cursor: pointer;
}
.operator:active,.number:active{
    font-size: 13px;
}
.operator:focus , .number:focus {
    outline: 0;
}

button:nth-child(19){
    border-radius: 20px;
    width: 130px;
    
}

button:nth-child(4){
  background-color: crimson;
  color: white;
}
button:nth-child(8){

    background-color: blue;
    color: white;

}



button:nth-child(12){

    background-color: deeppink;
    color: whitesmoke;
}

button:nth-child(16){
    background-color: slateblue;
    color: white;
    

}
button:nth-child(19){
    background-color: tomato;
    color: white;
}
.hh{
    float: left;
    color:deepskyblue;    
}